.best-uses {
    background: linear-gradient(180deg, #E1EDF8 0%, rgba(127, 179, 225, 0.00) 59.37%, rgba(0, 0, 0, 0.25) 100%),
    url("../images/best-uses-iamge-bg.webp");
    background-repeat: no-repeat, no-repeat;
    background-position: top center, bottom center;
    background-size: cover, contain;
    padding-top: 110px;
    padding-bottom: 250px;
}


.best-uses__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best-uses__header {
    margin-bottom: 75px;
}

.best-uses__text-wrapper {
    position: relative;
    width: 100%;
    max-width: 759px;
    height: auto;
}

.text-content {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    text-align: center;
    max-width: 625px;
}

.text-content p {
    margin: 10px 0;
}

.text-content strong {
    font-weight: bold;
}

.best-uses__text {
    color: #483C08;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    padding: 10px;
}

@media screen and (max-width: 960px) {
    .best-uses__info {
        flex-direction: column;
        align-items: center;
    }

    .best-uses__text-wrapper {
        max-width: 100%;
    }

    svg {
        width: 100%;
        height: auto;
    }

    .text-content {
        padding: 15px;
    }
}

@media screen and (max-width: 480px) {
    .best-uses {
        padding-top: 50px;
        padding-bottom: 150px;
    }

    .best-uses__header {
        margin-bottom: 50px;
    }

    .best-uses__text {
        font-size: 22px;
        line-height: 20px;
    }
}


@media screen and (max-width: 320px) {
    .best-uses__text-wrapper svg {
        height: 400px;
    }

    .best-uses-svg {
        height: 400px;
    }

    .best-uses-path {
        d: path("M10 10H665.554L748.825 274.83L665.485 544H10L10 10V10Z");
    }

    .text-content {
        font-size: 32px;
        line-height: 1.8;
        padding: 20px;
    }
}