.hero-wrapper {
    background-image: url("../images/hero-bg-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

.hero-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.30);
    z-index: -1;
    pointer-events: none;
}

.hero {
    padding-top: 30px;
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}

.hero__heading {
    color: #F9E994;
    text-align: center;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    z-index: 2;
    margin-bottom: 10px;
}

.header__container,
.hero__about-wrapper,
.hero__desc,
.hero__countdown {
    position: relative;
    z-index: 2;
}


.hero__about-wrapper {
    display: flex;
    justify-content: space-between;
}

.hero__text {
    color: #F6F7E4;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 70px;
}


.hero__desc-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 45px 35px;
    border-radius: 20px;
    background: #7FB3E1;
    min-width: 325px;
}


.hero__desc-item {
    display: flex;
    gap: 20px;
    align-items: center;
}

.hero__desc-list-icon {
    height: 25px;
}

.hero__desc-list-text {
    color: #DFE4DE;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.hero__image-bag-wrapper {
    position: relative;
    top: 40px;
}

.hero__cat-left, .hero__cat-right {
    height: 290px;
    position: absolute;
}

.hero__cat-left {
    left: 280px;
    top: 100px;
    z-index: 3;
}


.hero__cat-right {
    right: 280px;
    top: 100px;
    z-index: 3;
}

.hero__countdown {
    background-color: #ffffff;
    border-radius: 10px;
    min-height: 470px;
    max-width: 270px;
}

.hero__countdown-header-wrapper {
    background-image: url("../images/timer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    text-align: center;
    min-height: 190px;
    border-radius: 10px;
    padding: 30px;
}

.hero__countdown-header {
    color: #483C08;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.hero__countdown-timer {
    font-size: 36px;
    font-weight: 700;
    color: #f6e791;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}


.price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}


.price {
    color: #6B6B6B;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    display: inline-block;
}

.price::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #F5A47E;
    transform: rotate(-10deg);
    transform-origin: center;
}


.hero__actual-price {
    color: #483C08;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero__input-wrapper {
    padding: 0 25px;
}


.hero__name-input,
#phone {
    width: 100%;
    font-size: 16px;
    color: #6B6B6B;
    border: none;
    background-color: #F5F0EF;
    border-radius: 25px;
    outline: none;
    position: relative;
    top: 0.5px;
}

.phone-input {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F0EF;
    border-radius: 25px;
    padding: 10px;
    margin-top: 15px;
    max-height: 50px;
}

.phone-input .prefix {
    color: #6B6B6B;
    font-size: 18px;
}

.hero__phone-input-label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F0EF;
    border-radius: 25px;
    width: 100%;
    margin-top: 1px;
}

.hero__phone-input {
    position: relative;
    left: -5px;
}


input::placeholder {
    color: #999999;
}

input {
    position: relative;
    top: 1px;
    background-color: #F5F0EF;
    font-size: 14px;
    color: #6B6B6B;
}

.hero__name-input-label,
.phone-input {
    display: flex;
    align-items: center;
    background-color: #F5F0EF;
    border-radius: 25px;
    padding: 10px;
    margin-top: 15px;
    max-height: 50px;
    width: 100%;
}


.hero__name-input,
#phone {
    width: 100%;
    font-size: 16px;
    color: #6B6B6B;
    border: none;
    background-color: #F5F0EF;
    border-radius: 25px;
    outline: none;
    text-align: left;
}

.hero__input-icon {
    width: 24px;
    height: 24px;
}

.phone-input .prefix {
    color: #6B6B6B;
    font-size: 18px;
    margin-right: 5px;
}

input::placeholder {
    color: #999999;
}


.hero__order-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.hero__order-button {
    background-color: #A1D337;
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 10px 55px;
    border-radius: 25px;
    border: none;
}

.hero__order-date{
    color: #444;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
}
