@import "reset.css";
@import "header.css";
@import "hero.css";
@import "manufacturer.css";
@import "best-uses.css";

.container {
    width: 1150px;
    margin: 0 auto;
}


.subheading{
    text-align: center;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F9E994 0%, #537D13 56.25%, #483C08 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
